<%# <h1><%= @list.name %></h1> %>
<%# <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %> %>
<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
<h1><%= @list.name %></h1>
</div>

<div>
<% @list.bookmarks.each do |bookmark| %>
<%# list can access only bookmarks because a list has_many :bookmarks (see model) And then we can access bookmarks through an iteration %>
 <p><%= bookmark.comment %></p>
 <p><%= bookmark.movie.title %></p>
 <p><%= image_tag(bookmark.movie.poster_url, size: "200x350", alt: bookmark.movie.title) %></p>
 <p><%= bookmark.movie.overview %></p>
 <p><%= bookmark.movie.rating %></p>
<% end %>
</div>
